<div style="background-color: #1E3246">
    <div class="container" data-aos-delay="500">
        <div id="{{container_id}}" class="row mb-3" data-aos="zoom-in" data-aos-duration="1000">
            <div class="col text-center">
                <span class="bg-semi-dark p-2 text-dark rounded" style="color:#ffffff !important;">Freebies</span>
                <div>
                    <h1 class="text-caption-color mt-3 mb-3" style="color:#ffffff !important;">Some Reusable stuff !!!</h1>
                    <hr class="shr" />
                </div>
            </div>
        </div>
        <div class="container w-75" data-aos="flip-up">
            <div id="{{id}}" class="owl-carousel testimonial-carousel owl-theme shola">
                {{#each stuffs as |stuff|}}
                <div class="text-center p-3 rounded-pill pb-5 "
                     data-dot="<p class='p-3 bg-semi-dark shabnam rounded-circle test-item-special' style='color:#ffffff !important;'>{{stuff.nickname}}</p>">
                    <h3 class="text-uppercase" style="font-weight:bolder; color:#ffffff;">{{stuff.title}}</h3>
                    <p class="text-primary" style="color:#ffffff !important;">{{{stuff.author}}}</p>
                    <span class="fs-4 text-sublime" style="color:#ffffff !important;">
                        {{{stuff.msg}}}
                    </span>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
