<div class="container mt-6">
    <div class="row mb-3" data-aos="zoom-in" data-aos-duration="1000">
        <div class="col text-center">
            <span class="bg-semi-dark p-2 text-danger rounded">Lesson</span>
            <div>
                <h1 class="text-caption-color mt-3 mb-3">A Javascript Lesson on Animation</h1>
                <hr class="shr" />
            </div>
        </div>
    </div>
    <div class="bg-pannel p-3 rounded-10" data-aos="flip-left">
        <p class="text-dark">
            <a target="_blank" href="https://isotope.metafizzy.co/"> Isotope.js </a> is a very famous Javascript library that does filter and sorting of data
            in magical ways. While studiying Isotope I discovered that there aren't many options for animations. This led to the
            development of a library/component that was subsequently named Isometric.
            You can check out the <a target="_blank" href="~/js/IsoMetric.js"> Source Code of Isometric.js </a>. It is a ES-6 class
        </p>
        <p>
            I provide 8 animations, as one can see in the below <b class="text-primary">"Choose Animation"</b> drop down.
            It dependens on <a target="_blank" href="https://jquery.com/">JQuery</a> famous for its <b>$</b> notation.
        </p>
        <p>Thanks to <b>OO<sub>ja</sub>H</b> the entire animation is encapsulated in <a target="_blank" href="~/Scripts/Components/Isometric/IsometricComp.js">IsometricComp.js</a></p>
        <span class="text-uppercase text-primary">Contact : <a target="_blank" href="mailto:sesha.sai@alstomgroup.com?subject=Isometric and Isotope &body=When are we meeting . .  %0AI want to know everything about this amazing JavaScript library called Isometric%0A%0AThanks and Regards" ">Sesha</a></span> for further details on Isometric/Isotope
    </div>
</div>
<div class="container mt-5">
    <section>
        <div class="row">
            <div class="col">
                <p class="fs-4 mb-4 text-white">Click the below buttons to choose the best of Picture, Posts or Managers. . .</p>
                <button class="btn btn-primary rounded-circle" onclick="IsometricComp.Filter(event, '.my-all')">&#10057;</button>
                <button class="btn btn-primary rounded-pill" onclick="IsometricComp.Filter(event, '.1')">Picture</button>
                <button class="btn btn-primary rounded-pill" onclick="IsometricComp.Filter(event, '.2')">Post</button>
                <button class="btn btn-primary rounded-pill" onclick="IsometricComp.Filter(event, '.3')">Managers</button>
                <!--<button class="btn btn-primary rounded-pill" onclick="IsometricComp.Sort(event, 'order' , true)">&#8593;</button> <button class="btn btn-primary rounded-pill" onclick="IsometricComp.Sort(event, 'order', false)">&#8595;</button>-->
                <div class="m-2" style="float:right;">
                    <select class="form-select bg-semi-dark ; text-primary" id="animationOption" style="display:inline; margin-top:-10px;"
                            onchange="IsometricComp.DecideAnimation(event)">
                        <option value="1">ZoomOut Move In And ZoomIn</option>
                        <option value="2">FadeOff Appear And FadeIn</option>
                        <option value="3" selected>Implode AND Explode</option>
                        <option value="4">Rotation</option>
                        <option value="5">Just Move</option>
                        <option value="6">ExpandFade MoveIn And ZoomBack</option>
                        <option value="7">Scale-In Scale-Out</option>
                        <option value="8">Rotation about YAxis</option>
                    </select>
                </div>
                <span class="float-end text-primary fs-4"><b> Choose Animation </b></span>

            </div>
        </div>
        <hr />
        <div class="container TheContainer">
            <div class="row">
                <div class="col">
                    <div class="a-1 fs-5 overflow-hidden my-item 1 my-all" style="width:250px;height:250px;" order="1">
                        <img lesson  class="rounded-circle" style="display:block;height:200px;" src="~/img/Testimonials/Ronish_Small.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-55px;opacity:.5;">Ronish</span>
                    </div>
                </div>
                <div class="col">
                    <div class="a-2 fs-5 overflow-hidden my-item 2 my-all" order="2">
                        <img lesson class="rounded-circle" style="display: block; height: 200px;" src="~/img/Testimonials/Namami_small.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-55px;opacity:.5;">Namami</span>
                    </div>
                </div>
                <div class="col">
                    <div class="a-3 fs-5 overflow-hidden my-item 3 my-all" order="3">
                        <img lesson class="rounded-circle" style="display: block; height: 200px;" src="~/img/Testimonials/Radha.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-55px;opacity:.5;">Radha</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="a-4 fs-5 overflow-hidden my-item 1 my-all" order="4">
                        <img lesson class="rounded-circle" style="display: block; height: 200px;" src="~/img/Testimonials/Shivangee_small.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-55px;opacity:.5;">Shivangee</span>
                    </div>
                </div>
                <div class="col">
                    <div class="a-5 fs-5 overflow-hidden my-item 2 my-all" order="5">
                        <img lesson class="rounded-circle" style="display: block ; height:200px;" src="~/img/Testimonials/Lakshmi_small.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-55px;opacity:.5;">Lakshmi</span>
                    </div>
                </div>
                <div class="col">
                    <div class="a-6 fs-5 overflow-hidden my-item 3 my-all" order="6">
                        <img lesson class="rounded-circle" style="display: block; height: 200px;" src="~/img/Testimonials/Lakshmi.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-55px;opacity:.5;">Seetha</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="a-7 fs-5 overflow-hidden my-item 1 my-all" order="7">
                        <img lesson class="rounded-circle" style="display: block; height: 200px;" src="~/img/Testimonials/Raman_0.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-55px;opacity:.5;">Raman</span>
                    </div>
                </div>
                <div class="col">
                    <div class="a-8 fs-5 overflow-hidden my-item 2 my-all" order="8">
                        <img lesson class="rounded-circle" style="display: block; height: 200px;" src="~/img/Testimonials/Anmol_small.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-55px;opacity:.5;">Anmol</span>
                    </div>
                </div>
                <div class="col">
                    <div class="a-9 fs-5 overflow-hidden my-item 3 my-all" order="9">
                        <img lesson class="rounded-circle" style="display: block; height: 200px;" src="~/img/Testimonials/Yogish_1.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-55px;opacity:.5;">Yogish</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="a-10 fs-4 overflow-hidden my-item 1 my-all" order="10">
                        <img lesson class="rounded-5" style="display: block; height: 200px;" src="~/img/2_small.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-50px;opacity:.5;">Best<br/>Pictures</span>
                    </div>
                </div>
                <div class="col">
                    <div class="a-11 fs-4 overflow-hidden my-item 2 my-all" order="11">
                        <img lesson class="rounded-5" style="display: block; height: 200px;" src="~/img/1_small.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-50px;opacity:.5;">Best<br />Posts</span>
                    </div>
                </div>
                <div class="col">
                    <div class="a-12 fs-4 overflow-hidden my-item 3 my-all" order="12">
                        <img lesson class="rounded-5" style="display: block; height: 200px;" src="~/img/4_small.jpg" />
                        <span class="badge bg-dark rounded-pill" style="position:relative;top:-50px;opacity:.5;">Best<br />Managers</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
