PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
/PassTo/PassTo/obj/Debug/net8.0/PassTo.AssemblyInfo.cs
/PassTo/PassTo/obj/Debug/net8.0/PassTo.AssemblyInfoInputs.cache
/PassTo/PassTo/obj/Debug/net8.0/rpswa.dswa.cache.json
/PassTo/.vs/PassTo/FileContentIndex/76b8264c-e7e8-4b73-98a4-80ffacb0e91d.vsidx
