
﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
/PassTo/.vs/PassTo/FileContentIndex/3e69ade9-6ac0-4a45-8310-c380dd740fa5.vsidx
=======
PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db-shm
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/CodeChunks.db-wal
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/SemanticSymbols.db-shm
/PassTo/PassTo/obj/Debug/net8.0/PassTo.AssemblyInfo.cs
/PassTo/PassTo/obj/Debug/net8.0/PassTo.AssemblyInfoInputs.cache
/PassTo/PassTo/obj/Debug/net8.0/rpswa.dswa.cache.json
/PassTo/.vs/PassTo/FileContentIndex/76b8264c-e7e8-4b73-98a4-80ffacb0e91d.vsidx
/PassTo/.vs/PassTo/CopilotIndices/17.14.670.39694/SemanticSymbols.db-wal
/PassTo/.vs/PassTo/FileContentIndex/20b28185-0c3a-4b33-9519-076887f0dcd8.vsidx
