<!-----Start banner------>
<div>
    <div id="ribal" style="height:1px;width:1px;position:absolute;"></div>
    <div id="banner" data-aos="zoom-in" data-aos-duration="3000">
        <div id="{{id}}" class="carousel slide" data-bs-interval="20000" data-bs-ride="carousel">
            <div class="carousel-indicators" style="bottom:25%;opacity:.5">
                {{#each captions as |caption|}}
                {{#if @first}}
                <button type="button" data-bs-target="#{{../id}}" data-bs-slide-to="{{@index}}" class="active"></button>
                {{/if}}
                {{#unless @first}}
                <button type="button" data-bs-target="#{{../id}}" data-bs-slide-to="{{@index}}"></button>
                {{/unless}}
                {{/each}}
            </div>
            <div class="carousel-inner">
                {{#each captions as |caption|}}
                {{#if @first}}
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{caption.img}}" alt="Image" >
                    <div class="carousel-caption-1" kibla ="{{@index}}">
                        <h1 style="color:{{caption.color}}" data-aos="flip-left" data-aos-delay="2000" data-aos-duration="3000" class="text-uppercase slideInDown fw-bolder">
                            {{{caption.Mainheading}}}
                        </h1>
                        <div style="color:{{caption.color}}" class="fw-bold mb-2 mt-4" data-aos-delay="2000" data-aos="flip-right" data-aos-duration="3000">
                            {{{caption.Subheading}}}
                            <hr />
                        </div>
                        <!--<div style="color:{{caption.color}}" class="fw-bolder text-uppercase fs-small animated slideInDown" data-aos-delay="2000" data-aos="flip-left" data-aos-duration="3000">
                            <i style="color:{{caption.color}}" class="bi bi-globe me-2 fs-small"></i> Bangalore - India
                        </div>
                        <div class="fw-bolder text-white animated slideInDown mb-2" data-aos-delay="2000" data-aos="flip-right" data-aos-duration="3000">
                            <a href="mailto:sesha.sai@alstomgroup.com?subject=TEKBytes&cc=shanthi.kalarikkal-1@alstomgroup.com&body=Hi Dr.Sesha,%0AI am deeply interested in participating in TEKBytes%0A%0A...YOUR COMMENTS ...%0A%0AThanks and Regards">
                                <i style="color:{{caption.color}}" class="bi bi-mailbox me-2"></i>
                                <font style="color:{{caption.color}}" class="fs-small">sesha.sai@alstomgroup.com</font>
                            </a>
                        </div>-->
                        <div zibla="{{@index}}" short_cuts data-aos="flip-right" data-aos-delay="2000" data-aos-duration="3000" s>
                            <h1>Your Short cuts</h1>
                        </div>
                        <h6 data-aos="flip-left" class="mt-3" style="color:{{caption.color}}">
                            <i class="bi bi-hammer me-2" style="color:{{caption.color}}"></i>
                            Scroll down & check out the following sections . . .
                        </h6>
                    </div>
                </div>
                {{/if}}
                {{#unless @first}}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{caption.img}}" alt="Image"  >
                    <div class="carousel-caption-1" kibla ="{{@index}}">
                        <h1 style="color:{{caption.color}}" data-aos="flip-left" data-aos-delay="2000" data-aos-duration="3000" class="text-uppercase slideInDown fw-bolder">
                            {{{caption.Mainheading}}}
                        </h1>
                        <div style="color:{{caption.color}}" class="fw-bold mb-2 mt-4" data-aos-delay="2000" data-aos="flip-right" data-aos-duration="3000">
                            {{{caption.Subheading}}}
                            <hr />
                        </div>
                        <!--<div style="color:{{caption.color}}" class="fw-bolder text-uppercase fs-small animated slideInDown" data-aos-delay="2000" data-aos="flip-left" data-aos-duration="3000">
                            <i style="color:{{caption.color}}" class="bi bi-globe me-2 fs-small"></i> Bangalore - India
                        </div>
                        <div class="fw-bolder text-white animated slideInDown mb-2" data-aos-delay="2000" data-aos="flip-right" data-aos-duration="3000">
                            <a href="mailto:sesha.sai@alstomgroup.com?subject=TEKBytes&cc=shanthi.kalarikkal-1@alstomgroup.com&body=Hi Dr.Sesha,%0AI am deeply interested in participating in TEKBytes%0A%0A...YOUR COMMENTS ...%0A%0AThanks and Regards">
                                <i style="color:{{caption.color}}" class="bi bi-mailbox me-2"></i>
                                <font style="color:{{caption.color}}" class="fs-small">sesha.sai@alstomgroup.com</font>
                            </a>
                        </div>-->
                        <div zibla="{{@index}}" short_cuts data-aos="flip-right" data-aos-delay="2000" data-aos-duration="3000" s>
                            <h1>Your Short cuts</h1>
                        </div>
                        <h6 data-aos="flip-left" class="mt-3" style="color:{{caption.color}}">
                            <i class="bi bi-hammer me-2" style="color:{{caption.color}}"></i>
                            Scroll down & check out the following sections . . .
                        </h6>
                    </div>
                </div>
                {{/unless}}
                {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#{{id}}" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#{{id}}" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!--------End banner--------->
