<div id="nMap" class="text-center fs-1" data-aos="zoom-in-left" data-aos-duration="3000">
    The nMap Utility
    <hr class="shr" />
</div>
<div class="container text-black-50 mb-1" style="letter-spacing:2px;" data-aos="zoom-in-left" data-aos-duration="3000">
    <div class="row">
        <div class="col fs-small position-relative">
            <p>
                <b>Nmap ("Network Mapper") </b>, is an open-source tool for network exploration and security auditing. It uses raw IP packets to discover hosts, services, operating systems, and open ports on a network, which is valuable for network administrators and security professionals. It can also be used for vulnerability scanning, network inventory, and other security-related tasks.
            </p>
        </div>
        <hr />
        <div class="bg-pannel p-5">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <i class="bi bi-gear"></i>
                </span>
                <input value="nmap -Pn -p- -sV -sC -O -T4 192.168.134.134" type="text" id="cmd_line" class="form-control ph-small text-secondary fw-bold" name="mail" aria-label="mail" aria-describedby="basic-addon1">
                <span class="input-group-text text-info">
                    <button class="btn btn-primary" onclick="nMap.Click_Button(event)">Show Results</button>
                </span>
            </div>
            <div>
                <img id="wait_until_dark" src="~/Content/images/wait.gif" style="display: none" />
                <textarea id="nMap_results" class="W-100 border border-1 rounded-2 p-2 fs-small text-secondary mt-2" rows="15" style="display:none;">
            Starting Nmap 7.95 ( https://nmap.org ) at 2025-10-16 12:06 IST
            Nmap scan report for 192.168.134.134
            Host is up (0.00041s latency).
            Not shown: 65527 closed tcp ports (reset)
            PORT      STATE SERVICE      VERSION
            135/tcp   open  msrpc        Microsoft Windows RPC
            139/tcp   open  netbios-ssn  Microsoft Windows netbios-ssn
            445/tcp   open  microsoft-ds Windows 7 Professional 7601 Service Pack 1 microsoft-ds (workgroup: WORKGROUP)
            49152/tcp open  msrpc        Microsoft Windows RPC
            49153/tcp open  msrpc        Microsoft Windows RPC
            49154/tcp open  msrpc        Microsoft Windows RPC
            49155/tcp open  msrpc        Microsoft Windows RPC
            49156/tcp open  msrpc        Microsoft Windows RPC
            MAC Address: 00:0C:29:56:D3:CC (VMware)
            Device type: general purpose
            Running: Microsoft Windows 2008|7|Vista|8.1
            OS CPE: cpe:/o:microsoft:windows_server_2008:r2 cpe:/o:microsoft:windows_7 cpe:/o:microsoft:windows_vista cpe:/o:microsoft:windows_8.1
            OS details: Microsoft Windows Vista SP2 or Windows 7 or Windows Server 2008 R2 or Windows 8.1
            Network Distance: 1 hop
            Service Info: Host: JON-PC; OS: Windows; CPE: cpe:/o:microsoft:windows

            Host script results:
            | smb2-time: 
            |   date: 2025-10-16T06:38:24
            |_  start_date: 2025-10-16T06:26:18
            | smb2-security-mode: 
            |   2:1:0: 
            |_    Message signing enabled but not required
            | smb-security-mode: 
            |   account_used: <blank>
            |   authentication_level: user
            |   challenge_response: supported
            |_  message_signing: disabled (dangerous, but default)
            |_nbstat: NetBIOS name: JON-PC, NetBIOS user: <unknown>, NetBIOS MAC: 00:0c:29:56:d3:cc (VMware)
            | smb-os-discovery: 
            |   OS: Windows 7 Professional 7601 Service Pack 1 (Windows 7 Professional 6.1)
            |   OS CPE: cpe:/o:microsoft:windows_7::sp1:professional
            |   Computer name: Jon-PC
            |   NetBIOS computer name: JON-PC\x00
            |   Workgroup: WORKGROUP\x00
            |_  System time: 2025-10-16T01:38:24-05:00
            |_clock-skew: mean: 1h40m00s, deviation: 2h53m12s, median: 0s

            OS and Service detection performed. Please report any incorrect results at https://nmap.org/submit/ .
            Nmap done: 1 IP address (1 host up) scanned in 96.49 seconds
</textarea>
            </div>
        </div>
    </div>
</div>

