<div is="User" class="mt-4" id="UserPassword">
    <div class="row mb-3" data-aos="zoom-in" data-aos-duration="1000">
        <div class="col text-center fw-bolder">
            <span class="p-2 text-dark rounded">New</span>
            <div>
                <h1 class="text-caption-color mt-3 mb-3">User Creation</h1>
                <hr class="shr" />
            </div>
        </div>
    </div>
</div>
<div id="create_user">
    <div class="container p-4 info-pannel w-75" data-aos="zoom-in">
        User management is the process of managing user access to CRL manager application.
        It includes creating accounts, managing permissions, and tracking user activity.
        In this page you can add Admin and Operator. Admin having complete project access.
        Operator having access only Publish page only.
    </div>
    <div class="container bg-pannel p-3 specials" data-aos="zoom-in">
        <div class="input-group mt-2">
            <label for="ROLE" class="input-group-text  fs-small fw-bold text-secondary">Role</label>
            <select id="roles" name="ROLE" class="form-select fs-small ph-small" style=" ">
                <option value="admin">Admin</option>
                <option value="operator" selected>Operator</option>
            </select>
        </div>
        <div class="input-group mt-2">
            <label for="username" class="input-group-text  fs-small fw-bold text-secondary">Name</label>
            <input id="username" placeholder="display name to be given here" name="username" class="form-control fs-small ph-small" type="text">
        </div>
        <div class="input-group mt-2">
            <label for="usermail" class="input-group-text  fs-small fw-bold text-secondary">Mail</label>
            <input id="usermail" name="usermail" class="form-control fs-small ph-small" type="text" placeholder="letters in your mailid that come before '@alstomgroup.com'">
            <label for="usermail" class="input-group-text  fs-small fw-bold text-secondary">@alstomgroup.com</label>
        </div>
        <div class="input-group mt-2">
            <label for="user_password" class="input-group-text  fs-small fw-bold text-secondary">Password</label>
            <input id="user_password" name="user_password" type="password" class="form-control fs-small ph-small">
        </div>
        <div class="input-group mt-2">
            <label for="user_confirm_password" class="input-group-text  fs-small fw-bold text-secondary">Confirm Password</label>
            <input id="user_confirm_password" type="password" name="user_confirm_password" class="form-control fs-small ph-small">
        </div>
        <hr />
        <div>
            <button id="adduserbutton" class="btn btn-primary" onclick="User.AddUser(event)">Save</button>
            <span id="status" class="badge text-bg-danger p-3  float-end"></span>            
        </div>
        <hr />
        <div class="bg-pannel-outline p-2 table-container" data-aos-duration="3000">
            <div id="UserTable"></div>               
        </div>
    </div>
</div>
