<div class="modal fade" id="Alertify" tabindex="-1" >
    <div class="modal-dialog ">
        <div class="modal-content text-black-50">
            <div class="modal-header">
                <img src="~/logo.ico" style="height:30px;" class="me-3" />
                <h5 id="title" class="d-inline modal-title">Modal title</h5>
                <button type="button" class="btn-close bg-warning" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="our_body">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="but_0" class="btn btn-secondary" data-bs-dismiss="modal" onclick="Alertify.Click_button(event, false)">Close</button>
                <button type="button" id="but_1" class="btn btn-primary" onclick="Alertify.Click_button(event, true)">Save changes</button>

            </div>
            <hr />
            <div class="ps-3 pb-3" id="footer">Welcome to V<sub>&</sub>V Overflow</div>
        </div>
    </div>
</div>
<!--<div class="modal fade" id="Alertify"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/favicon.ico" style="height:30px;" class="me-3" />
                <h5 id="title" class="d-inline modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="our_body">Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="but_0" class="btn btn-secondary" data-bs-dismiss="modal" onclick="Alertify.Click_button(event, false)">Close</button>
                <button type="button" id="but_1" class="btn btn-primary" onclick="Alertify.Click_button(event, true)">Save changes</button>
            </div>
            <hr/>
            <div class="pt-3 pb-3" id="footer">Welcome to V<sub>&</sub>V Overflow</div>
        </div>
    </div>
</div>-->
