<div id="UpdatePassword" class="text-capitalize text-center fs-1 mt-4" data-aos="zoom-in-left" data-aos-duration="3000">
    {{title}}
    <hr class="shr" />
</div>
<div class="container bg-pannel p-5 position-relative" data-aos="zoom-in-right" data-aos-duration="3000">
    <div class="row">
        <div class="col">
            <div class="input-group mt-2">
                <label for="user_name" class="input-group-text fs-small fw-bold text-secondary">Display Name </label>
                <input id="user_name" class="form-control fs-small ph-small" type="text" placeholder="Your name" value="{{user_info.name}}">
            </div>
            <div class="input-group mt-2">
                <label for="user_mail" class="input-group-text fs-small fw-bold text-secondary" style="">Mail</label>
                <input id="user_mail" name="userid" class="form-control fs-small ph-small text-bg-primary" placeholder="Your mail id" type="text" readonly value="{{user_info.mail}}" />                
                <label for="user_mail" class="input-group-text fs-small fw-bold text-secondary" style="">@alstomgroup.com</label>
            </div>
            <div class="input-group mt-2">
                <label for="user_role" class="input-group-text fs-small fw-bold text-secondary">Role </label>
                <input id="user_role" class="form-control fs-small ph-small text-bg-primary" type="text" placeholder="Your role" readonly value="{{user_info.role}}">
            </div>
            <div class="input-group mt-2">
                <label for="user_password" class="input-group-text fs-small fw-bold text-secondary" style="">Password:</label>
                <input id="user_password" name="user_password" type="password" class="form-control " style=" " placeholder="Enter new password " aria-label="Password">
                <span class="input-group-text" onmousedown="$('#password').attr({'type': 'text'})" onmouseup="$('#password').attr({'type': 'password'})">
                    <i class="bi bi-eye pe-none"></i>
                </span>
            </div>
            <div class="input-group mt-2">
                <label for="user_confirm_password" class="input-group-text fs-small fw-bold text-secondary" style="">Confirm Password:</label>
                <input id="user_confirm_password" type="password" name="confirmpassword" class="form-control" placeholder="Re-Enter new password " aria-label="Password">
                <span class="input-group-text" onmousedown="$('#confirmpassword').attr({'type': 'text'})" onmouseup="$('#confirmpassword').attr({'type': 'password'})">
                    <i class="bi bi-eye pe-none"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <button id="updateuserbutton" class="btn btn-primary" onclick="UpdatePassword.updateUser(event)">Update</button>
        </div>
        <div class="col">
            <span id="success_msg" style="display:none" class="blink_me badge text-bg-success p-2 rounded-pill border border-4 border-secondary-subtle float-end end">Update Password is a success</span>
        </div>
    </div>
    <img id="update_success_img" src="/Content/images/Star.png" class="position-absolute" style="width:0px;height:0px;left:0px;top:0px" />
</div>
