<div class="modal fade " id="LogInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-black">
            <div class="modal-header">
                <img src="~/favicon.ico" style="height:30px;" class="me-3" />
                <h1 class="modal-title fs-5" id="exampleModalLabel">Please Log In </h1>
                <button type="button" class="btn-close bg-warning" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="login_body" class="modal-body">
                <div login_result id="login_result" class="badge bg-danger p-2">
                    Project1 Project2 Project3
                </div>
                <a login_result onclick="Login.click_href(event,'failedLoggedIn')"  href="mailto:sesha.sai@alstomgroup.com?subject=VnV Overflow, Credentials needed&body=Issue with my credentials on this portal%0A%0A_QA_%0A%0ACan you please help me%0AThanks in Advance">
                    Click here to resolve
                </a>
                <hr login_result />
                <div class="p-lg-4">
                    <div class="w-100">
                        <label for="user_email" class="text-secondary">Email need not have @alstomgroup.com</label>
                        <input id="user_email"  type="email" class=" w-50 single-line bg-transparent text-primary" placeholder="Enter Mail Id need not enter alstomgroup.com" />
                        <!--<span class="text-secondary">@alstomgroup.com</span>-->
                    </div>
                    <label for="user_email" class="mt-4 text-secondary">Password</label>
                    <input id="user_pwd" type="password" class="w-100 single-line bg-transparent text-primary" placeholder="Enter password" />
                </div>
            </div>
            <div class="modal-footer mt-3">
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Not Interested</button>
                    <button type="button" class="btn btn-primary" onclick="LogIn.LogInUser(event, $('#user_email').val(),$('#user_pwd').val())">Submit</button>
                </div>
                <a do_click class="text-warning text-start"
                   href="mailto:sesha.sai@alstomgroup.com?subject=VnV Overflow, Credentials needed&body=I Need credentials to this portal%0A%0A_QA_%0A%0ACan you please help me%0AThanks in Advance">
                    Don't have credentials click here to Register
                </a>
                <!--<button type="button" class="btn btn-primary" onclick="LogIn.click_href(event, 'Labamba')">Labamba</button>-->

            </div>
            
        </div>
    </div>
</div>