
<div class="text-black-75 p-5 bg-pannel mt-5" data-aos="zoom-in-down" data-aos-duration="3000">
    <div id="framerwork">
        <h1 class="text-black fw-bolder mb-4" style="letter-spacing:10px;text-shadow:2px 5px 5px gray">The Automation Framework</h1>
        <div class="border border-2 rounded-3 p-2 mb-2 fs-very-small" style="letter-spacing:2px;">
            Automation describes a wide range of technologies that reduce human intervention in processes by predetermining decision criteria, subprocess relationships, and related actions and embodying those predeterminations in machines.
            Automation has been achieved by various means including mechanical, hydraulic, pneumatic, electrical, electronic devices, and computers, usually in combination. Different types of automation tools exist for different functions
            expanding range of applications and human activities.Hence Automation is a key in day today life.
        </div>
    </div>
    <div id="all_phase" class="border border-2 rounded-3 p-2 mb-2 fs-very-small " data-aos="zoom-out" data-aos-duration="3000">
        Automation Framework plans to bring in Tools into all the 4 phases of V&V process with various degrees of Automation.
        The goal is to maximize the automation in the overall process.They are:
        <ol>
            <li> Test Planning phase     </li>
            <li> Test Preparation phase  </li>
            <li> Test Execution phase    </li>
            <li> Test Reporting phase    </li>
        </ol>
    </div>
</div>