<div class="mt-4" id="UserPassword">
    <div class="row mb-3" data-aos="zoom-in" data-aos-duration="1000">
        <div class="col text-center fw-bolder">
            <span class="p-2 text-dark rounded">Password</span>
            <div>
                <h1 class="text-caption-color mt-3 mb-3">Update</h1>
                <hr class="shr" />
            </div>
        </div>
    </div>
</div>
<div class="container p-4 info-pannel w-75" data-aos="zoom-in" style="letter-spacing:2px;">
    Updating a password is the process of changing an existing password for an account. It's typically done to improve security and prevent unauthorized Access
</div>
<div class="container bg-pannel p-5" data-aos="zoom-in">
    <h3>Update Password</h3>
    <div class="row">
        <div class="col">
            <div class="input-group mt-2">
                <label for="user_name" class="input-group-text fs-small fw-bold text-secondary">Display Name </label>
                <input id="user_name" class="form-control fs-small ph-small" type="text" placeholder="Your name" readonly>
            </div>           
            <div class="input-group mt-2">
                <label for="user_role" class="input-group-text fs-small fw-bold text-secondary">Role </label>
                <input id="user_role" class="form-control fs-small ph-small" type="text" placeholder="Your role" readonly>
            </div>
            <div class="input-group mt-2">
                <label for="password" class="input-group-text fs-small fw-bold text-secondary" style="">Password:</label>
                <input id="password" name="password" type="password" class="form-control " style=" " placeholder="Enter new password of the user" aria-label="Password">
                <span class="input-group-text" onmousedown="$('#password').attr({'type': 'text'})" onmouseup="$('#password').attr({'type': 'password'})">
                    <i class="bi bi-eye pe-none"></i>
                </span>
            </div>
            <div class="input-group mt-2">
                <label for="confirmpassword" class="input-group-text fs-small fw-bold text-secondary" style="">Confirm Password:</label>
                <input id="confirmpassword" type="password" name="confirmpassword" class="form-control" placeholder="Re-Enter new password of the user" aria-label="Password">
                <span class="input-group-text" onmousedown="$('#confirmpassword').attr({'type': 'text'})" onmouseup="$('#confirmpassword').attr({'type': 'password'})">
                    <i class="bi bi-eye pe-none"></i>
                </span>
            </div>
            <div class="row">
                <div class="col p-2" style=" margin-top:15px;">
                    <button id="updateuserbutton" class="btn btn-primary" style="margin-left:10px;" onclick="User.updateUser(event, true)">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
