<style>
    .aos-init[data-aos][data-aos].aos-animate {
        transform: unset;
    }
    /*Bootstrap Drop Downs click do not work with AOS hence this css is required*/
</style>
<nav id="header" class="navbar position-fixed ms-0 noSelect" data-aos="flip-left" data-aos-duration="3000">
    <div class="container">
        <!--<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>-->
        <div class="ms-3 collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li>
                    <a zora class="nav-link nav-text zimba" href="~/" onclick="Header.HighlightNavigationMenu(event,'#undefined')">
                        <img src="~/Content/images/7.png" alt="Home Icon" class="the-icon" />
                        Home
                    </a>
                </li>
                <li id="user-link">
                    <a zora class="nav-link nav-text zimba" href="~/Home/UserManagement" onclick="Header.HighlightNavigationMenu(event,'#user_ul')">
                        <img src="~/Content/images/18.png" alt="Home Icon" class="the-icon" />
                        User
                    </a>
                    <ul beer_bar id="user_ul" class="navbar-nav ms-5" style="display:none">
                        <li><a pichi class="nav-link nav-text-sm" href="#User" onclick="Header.ActiveInactive(event)">Manage</a></li>
                        <li><a pichi class="nav-link nav-text-sm" href="#UserPassword" onclick="Header.ActiveInactive(event)">Password</a></li>
                    </ul>
                </li>
                <li>
                    <a zora class="nav-link nav-text zimba" href="~/Home/OneTimeSetUp" onclick="Header.HighlightNavigationMenu(event,'#setup_ul')">
                        <img src="~/Content/images/22.png" alt="Home Icon" class="the-icon" />
                        SetUp
                    </a>
                    <ul beer_bar id="setup_ul" class="navbar-nav ms-5" style="display:none">
                        <li><a pichi class="nav-link nav-text-sm" href="#prj_details" onclick="Header.ActiveInactive(event)">Projects</a></li>
                        <li><a pichi class="nav-link nav-text-sm" href="#prj_setup" onclick="Header.ActiveInactive(event)">PKI Setup</a></li>
                        <li><a pichi class="nav-link nav-text-sm" href="#configurations" onclick="Header.ActiveInactive(event)">Configuration</a></li>
                    </ul>
                </li>
                <!--<li id="syslog-link">
                    <a zora class="nav-link nav-text zimba" href="~/Home/Syslog" onclick="Header.HighlightNavigationMenu(event,'#undefined')">
                        <img src="~/Content/images/23.png" alt="Home Icon" class="the-icon" />
                        Syslog
                    </a>
                </li>
                <li id="publish-link">
                    <a zora class="nav-link nav-text zimba" href="~/Home/Publish" onclick="Header.HighlightNavigationMenu(event,'#publish_ul')">
                        <img src="~/Content/images/13.png" alt="Home Icon" class="the-icon" />
                        Publish
                    </a>
                    <ul beer_bar id="publish_ul" class="navbar-nav ms-5" style="display:none">
                        <li><a pichi class="nav-link nav-text-sm" href="#publish" onclick="Header.ActiveInactive(event)">Publish</a></li>
                        <li><a pichi class="nav-link nav-text-sm" href="#UpdatePassword" onclick="Header.ActiveInactive(event)">Password</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</nav>