<div id="AboutUS" class="text-center fs-1 fw-bolder mt-5" style="letter-spacing:5px;" data-aos="zoom-in-left" data-aos-duration="3000">
    Who Are We
    <hr class="shr"/>
</div>
<div class="container text-black-50" style="letter-spacing:2px;" data-aos="zoom-in-left" data-aos-duration="3000">
    <b style="font-weight:900;">D.F.Q</b> is actually an acronym for <span class="kiss-text fw-bolder fs-5" style="letter-spacing:6px;"><b>D</b>eliver <b>F</b>or <b>Q</b>uality</span>
    <hr />
    <div class="row">
        <div class="col-9">
            This Portal helps you track your DFQ Readiness. Knowing what our customer wants and giving his exactly the same seems simple, but is more than a handful.
            Do you know, many times in product devlopment, requirements get created even without the knowledge of the person receiving the product ?
            Avoid such pitfalls and do your bit to secure constant cash flow.
        </div>        
        <!--<div class="col-3 position-relative">
            <img class="position-absolute" style="top:-50%;left:-20%" src="~/Content/images/hold_1.png" />
        </div>-->
    </div>
    
    <div class="row mt-5">
        <div class="col border-end fs-norm">
            <h4>Wikipedia</h4> Requirements management is the process of documenting, analyzing, tracing, prioritizing and agreeing on requirements and then controlling 
            change and communicating to relevant stakeholders. 
            It is a continuous process throughout a project. A requirement is a capability to which a project outcome (product or service) should conform<br/>
            To learn more <a target="_blank" class="btn btn-sm btn-outline-info mt-2 mb-2" href="https://en.wikipedia.org/wiki/Requirements_management">Click here</a>
        </div>
        <div class="col fs-norm">
            <h4>Alstom</h4> We now move to a new portal, a full stack web Platform supported by a RDBMS database. This helps in setting proper user rights, and
            prevent accidentally overwriting other's data. There are plenty of other advantages too. We provide you full information of how this portal works, 
            how to create your credentials.<br />
            To learn more <a target="_blank" class="btn btn-sm btn-outline-info mt-2 mb-2" href="https://alstomgroup.sharepoint.com/:p:/r/sites/TP13-ADM_REQM-Network/Shared%20Documents/General/KPI/2024%200415%20-%20TP13-Engg.%20Readiness%20ENTRY.pptx?d=w455fc2f262d9462a89cac614140e118e&csf=1&web=1&e=P29cBL">Click here</a>
        </div>
    </div>
    <hr/>
</div>
<!--<div  class="row mt-3 " data-aos="zoom-in" data-aos-duration="3000">
    <div class="col position-relative bg-pannel m-3 hov">
        <div class="icon">&#10037;</div>
        <a href="#">
            <div class="high-lighter">&#9734;</div>
        </a>
        <div class="p-5">
            <h2 style="letter-spacing:4px;">Dr.Sesha<span style="letter-spacing:0px;" class="fs-small"> Ph.D(Maths) </span> </h2>
            <p>Tech. Support</p>
            <p><font size="2">Master expert D&IS.</font> </p>
            <p>OO<sub>ja</sub>H is available for all popular fullstack frameworks built on Python {Fast/Flask}, Java {Spring/Boot} or C# {ASP.NET}</p>
            <p> <b>To Learn more . . .</b></p>
            <span class="text-uppercase">Contact: <a target="_blank" href="mailto:sesha.sai@alstomgroup.com">Dr.Sesha</a></span>
            <p class="fs-small">You don't come this far and go empty handed. <sub><a target="_blank" style="color:green" class="fw-bolder" href="https://en.wikipedia.org/wiki/Kai_Greene">Kai Green</a></sub></p>
        </div>
    </div>
    <div class="col position-relative bg-pannel m-3 hov p-5">
        <img id="sesh" src="~/Content/Profile/sesha.sai/sesha.sai.jpg" class="w-75 border border-4 rounded-circle border-success glow" style="margin-left:20%; margin-top:10%" />
    </div>
</div>

<div class="row mt-3 " data-aos="zoom-in" data-aos-duration="3000">
    <div class="col position-relative bg-pannel m-3 hov">
        <div class="icon">&#10037;</div>
        <a href="#">
            <div class="high-lighter">&#9734;</div>
        </a>
        <div class="p-5">
            <h2 style="letter-spacing:4px;">Srivatchan</h2>
            <p>Facilitator</p>
            <p><font size="2">Digital Transformation & Tools</font> </p>
            <p>In Alstom it is all about process and how DFQ helps in securing your cash flow. There is a plethora of methods and Tools avialable to facilitate you in 
            the pursuit of <h3 style="letter-spacing:5px;">DFQ</h3></p>
            <p> <b>To Learn more . . .</b></p>
            <span class="text-uppercase">Contact: <a target="_blank" href="mailto:srivatchan.vs@alstomgroup.com">Sri</a></span>
        </div>
    </div>
    <div class="col position-relative bg-pannel m-3 hov p-5">
        <img id="sri" src="~/Content/Profile/srivatchan.vs/srivatchan.vs.jpg" class="w-75 border border-4 rounded-circle border-success glow" style="margin-left:20%; margin-top:10%" />
    </div>
</div>

<div class="row mt-3 " data-aos="zoom-in" data-aos-duration="3000">
    <div class="col position-relative bg-pannel m-3 hov">
        <div class="icon">&#10037;</div>
        <a href="#">
            <div class="high-lighter">&#9734;</div>
        </a>
        <div class="p-5">
            <h2 style="letter-spacing:4px;">BONDERF Gilles </h2>
            <p>Facilitator</p>
            <p><font size="2">Digital Transformation & Tools</font> </p>
            <p>
                In Alstom it is all about what methods and Tools are avialable to facilitate you in the pursuit of Requireements Management to help you achieve<h3 style="letter-spacing:5px;">DFQ</h3>
            </p>
            <p> <b>To Learn more . . .</b></p>
            <span class="text-uppercase">Contact: <a target="_blank" href="mailto:gilles.bonderf@alstomgroup.com">GIles</a></span>
        </div>
    </div>
    <div class="col position-relative bg-pannel m-3 hov p-5">
        <img id="sri" src="~/Content/Images/Gilles.jpg" class="w-75 border border-4 rounded-circle border-success glow" style="margin-left:20%; margin-top:10%" />
    </div>
</div>-->
<hr />
<h3 id="location" style="letter-spacing:7px;" class="text-decoration-underline bold-shadow">ALSTOM Transport India Limited</h3>
<h3 style="letter-spacing:7px;" class="bold-shadow">A place to be for cutting <b class="fw-bolder">all</b> edge technologies</h3>
<hr />
<div  data-aos="zoom-in-left" data-aos-duration="3000">
    <iframe width="600" height="450" class="border border-4 rounded-6" style="border-color: rgb(200,200,200); width: 100%; height: 350px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.5895685453193!2d77.62335387418359!3d12.998082587319708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17a566fbfc11%3A0x674751e09b90dc0b!2sITC%20Green%20Centre!5e0!3m2!1sen!2sin!4v1700303856040!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<hr />
<div class="row mt-5" data-aos="zoom-in-right" data-aos-duration="3000">
    <div class="col-6">
        <div class="info">
            <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>ITC Green Centre, 18, Dodda Banaswadi Main Rd, Jeevanhalli, Maruthi Sevanagar, Bengaluru, 560005</p>
            </div>

            <div class="open-hours">
                <i class="bi bi-clock"></i>
                <h4>Contact Hours:</h4>
                <p>
                    Monday-Friday:<br>
                    9:00 AM - 6:00 PM
                </p>
            </div>
            <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>www.<b>ALSTOM</b>.com</p>
            </div>

        </div>
    </div>
    <div id="write_to_us" class="col-6">
        <div class="float-end">
            <form action="/Home/Contact" method="post">
                <input type="text" name="name" class="form-control " id="name" placeholder="Your Name" required="">
                <input type="email" class="form-control mt-2" name="email" id="email" placeholder="Your Email" required="">
                <div class="form-group mt-3">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required="">
                </div>
                <div class="form-group mt-3">
                    <textarea class="form-control" name="message" rows="8" placeholder="Message" required=""></textarea>
                </div>
                <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button" onclick="Contactsapp.click_button(event)">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr />

