<div id="dfq" class="mt-4">
    <div class="row mb-3" data-aos="zoom-in" data-aos-duration="1000">
        <div class="col text-center fw-bolder">
            <span class="bg-semi-dark p-2 text-dark rounded">Projects/Programs</span>
            <div>
                <h1 class="text-caption-color mt-3 mb-3">... Supporting DFQ Readiness</h1>
                <hr class="shr" />
            </div>
        </div>
    </div>
</div>
<div class="bg-pannel pt-3 pb-3" style="width:110%;margin-left:-5%;" data-aos="flip-left">
    <div class="mb-4">
        <div class="row m-4">
            <div class="col">
                <label style="letter-spacing:4px;" class="mb-2 fs-4">Choose wisely <sup><span class="fs-3">&star;</span></sup></label>
                <label class="float-end fs-small">If the below drop down is empty please press CTRL + F<sub>5</sub></label>
                <div class="input-group">
                    <div class="input-group-text fs-small d-inline" id="prj_prg">
                        <span id="prj_txt">Your Project</span>
                        <span class="ms-1" id="or_txt"> or <br /></span><span id="prg_txt">Your Program</span>
                    </div>
                    <select class="form-control fs-very-small form-select" id="all_projects" onchange="dfq.SelectProject(event)">
                        <option value="-1">Choose</option>
                    </select>
                    <span id="is_legacy" class="input-group-text text-info">Project-Type</span>
                </div>
                <div class="fs-small mt-2 text-center fw-bolder text-danger">Values will be displayed below after you choose your project/program</div>
            </div>
        </div>
        <div class="row d-none m-4" id="search_edit">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text fs-small">
                            <a tabindex="0" id="span_ct_gp_code_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean" data-bs-placement="top"
                               data-bs-content="<div><b>CT Code:</b> City Taxi Chasis number that you took last time to airport</div>
                                                <div><b>PG Code: </b> If you have done Post graduation, then your roll number can be given here</div>">
                                CT/PG Code
                            </a>
                        </span>
                        <div id="ct_gp_code" class="form-control fs-small">43x23qtw417</div>
                        <span class="input-group-text text-info fs-small"><i class="bi bi-balloon-heart-fill"></i></span>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text fs-small">
                            <a tabindex="0" id="span_segment_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean" data-bs-placement="top"
                               data-bs-content="<b>Cut it</b>, make into several segments and trash it, we are good in dashing a thing to the ground">
                                Segment
                            </a>
                        </span>
                        <div id="segment" class="form-control fs-small">Seg-4</div>
                        <span class="input-group-text text-info fs-small"><i class="bi bi-balloon-heart-fill"></i></span>
                    </div>
                </div>

                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text fs-small">
                            <a tabindex="0" id="span_leading_unit_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean" data-bs-placement="top"
                               data-bs-content="<b>Leading unit</b> means hmm, have you anytime been on a tight leash, if not then this is it">
                                Leading Unit
                            </a>
                        </span>
                        <div id="leading_unit" class="form-control fs-small">APAC/India</div>
                        <span class="input-group-text text-info fs-small"><i class="bi bi-balloon-heart-fill"></i></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text fs-small">
                            <a tabindex="0" id="span_cluster_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean" data-bs-placement="top"
                               data-bs-content="<div class='row'>
                                                    <div class='col'><b>Region:</b> South <img class='img-normal rounded' src='https://i.pinimg.com/236x/bb/71/d7/bb71d799a069b717be6f05ee24586389.jpg' /></div>
                                                    <div class='col'><b>Cluster:</b> Tollywood <img class='img-normal rounded' src='https://i.pinimg.com/236x/5d/28/bb/5d28bb59cf01283d1bfdc2d7b8dad8da.jpg' /></div>
                                                </div>">
                                    Region/Cluster
                            </a>
                        </span>
                        <div id="cluster" class="form-control fs-small">APAC/BLR</div>
                        <span class="input-group-text text-info fs-small"><i class="bi bi-balloon-heart-fill"></i></span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text fs-small">
                            <a tabindex="0" id="span_breakdown_level_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean" data-bs-placement="bottom"
                               data-bs-content="<b class='text-glow-dark'>Break down</b> Evident from the very name.<br/>How many times u derialed the project">
                                Breakdown Level
                            </a>
                        </span>
                        <div id="breakdown_level" class="form-control fs-small">L<sub>0</sub>/L<sub>1</sub>/L<sub>2</sub>/L<sub>3</sub>/L<sub>4</sub></div>
                        <span class="input-group-text text-info fs-small"><i class="bi bi-balloon-heart-fill"></i></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text fs-small">
                            <a tabindex="0" id="span_rm_name_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean" data-bs-placement="bottom"
                               data-bs-content="We want to know who hired you for this job, we want to give our piece of mind to the resource manager">
                                RM Name
                            </a>
                        </span>
                        <div id="rm_name" class="form-control fs-small">Shilpa Shetty</div>
                        <span class="input-group-text text-info fs-small"><i class="bi bi-balloon-heart-fill"></i></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text fs-small">
                            <a tabindex="0" id="span_quality_in_charge_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean" data-bs-placement="bottom"
                               data-bs-content="<b>Quality wake up</b> Project Damar, gone, finished, gaya, khatam<img class='img-normal rounded' src='https://media.istockphoto.com/id/994243592/photo/young-woman-sleeping-well-lying-asleep-in-comfortable-cozy-bed.jpg?s=612x612&w=0&k=20&c=X_qp4EnXnfT301FfOspFNxzJvH1JCMIkTTwpaFg3S_Y=' />">
                                Quality In-Charge
                            </a>
                        </span>
                        <div id="qm_incharge" class="form-control fs-small">Sri</div>
                        <span class="input-group-text text-info fs-small"><i class="bi bi-fire"></i></span>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text fs-small">
                            <a tabindex="0" id="span_pc_incharge_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean" data-bs-placement="bottom"
                               data-bs-content="This is the process correspondent, who mostly will be confused on the processes, and will clear your mind by consufing you also">
                                PC In-Charge
                            </a>
                        </span>
                        <div id="pc_incharge" class="form-control fs-small">Project1</div>
                        <span class="input-group-text text-info fs-small"><i class="bi bi-fire"></i></span>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="input-group" id="edit_group">
                        <span class="input-group-text" id="edit">Edit/Current&nbsp;<b>DFQ</b>&nbsp;data&nbsp;($)</span>
                        <button id="Edit" class="form-control btn btn-primary" onclick="dfq.ShowModalEditDialog(event)">Click here to know/Edit your recent activity</button>
                        <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-light fs-very-small ">
                <tr>
                    <th class="bg-dark text-light text-center fs-norm">Requirements<br />Managed for DFQ</th>
                    <th class="bg-dark text-light text-center fs-norm">SGR</th>
                    <th class="bg-dark text-light text-center fs-norm">PGR</th>
                    <th class="bg-dark text-light text-center fs-norm">
                        <div id="project_program_cgr_pop_up">
                            <span id="project_cgr_pop_up">CGR-A</span> <span id="or_cgr_text"> Or </span> <span id="program_cgr_pop_up">CGR </span><span id="for_programs">for Programs</span>
                        </div>
                    </th>
                    <th class="bg-dark text-light text-center fs-norm">CGR-I</th>
                    <th class="bg-dark text-light text-center fs-norm">FEI</th>
                    <th class="bg-dark text-light text-center fs-norm">IQA</th>
                    <th class="bg-dark text-light text-center fs-norm">VGR</th>
                    <th class="bg-dark text-light text-center fs-norm">FQA</th>
                </tr>
                <tr common>
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_identified_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="<div id='identified_popup' class='d-inline'><b>Identified</b> is all the lies you have told to win the project.<br/>Mention some number for sake of mentioning?</div><hr/>
                                                <div id='draft_popup' class='d-inline'><b>Draft</b> is all the lies you have told to win the project.<br/>Mention some number for sake of mentioning?</div>">
                            Identified/Draft
                        </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_identified">SGR-iden</td>
                    <td class="text-center fw-bolder" id="pgr_identified"></td>
                    <td class="text-center fw-bolder" id="cgr-a_identified"></td>
                    <td class="text-center fw-bolder" id="cgr-i_identified"></td>
                    <td class="text-center fw-bolder" id="fei_identified"></td>
                    <td class="text-center fw-bolder" id="iqa_identified"></td>
                    <td class="text-center fw-bolder" id="vgr_identified"></td>
                    <td class="text-center fw-bolder" id="fqa_identified"></td>
                </tr>
                <tr legacy="1">
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_defined_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Defined is the True-lies you are going to tell for this project. Amazing life?">
                                Defined
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_defined">SGR-defined</td>
                    <td class="text-center fw-bolder" id="pgr_defined"></td>
                    <td class="text-center fw-bolder" id="cgr-a_defined"></td>
                    <td class="text-center fw-bolder" id="cgr-i_defined"></td>
                    <td class="text-center fw-bolder" id="fei_defined"></td>
                    <td class="text-center fw-bolder" id="iqa_defined"></td>
                    <td class="text-center fw-bolder" id="vgr_defined"></td>
                    <td class="text-center fw-bolder" id="fqa_defined"></td>
                </tr>
                <tr common>
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_coown_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Committed/Owned is something we never do or evey try to do. DId you own up to anything li life?">
                                Committed/Owned
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_coown">SGR-committed/Owned</td>
                    <td class="text-center fw-bolder" id="pgr_coown"></td>
                    <td class="text-center fw-bolder" id="cgr-a_coown"></td>
                    <td class="text-center fw-bolder" id="cgr-i_coown"></td>
                    <td class="text-center fw-bolder" id="fei_coown"></td>
                    <td class="text-center fw-bolder" id="iqa_coown"></td>
                    <td class="text-center fw-bolder" id="vgr_coown"></td>
                    <td class="text-center fw-bolder" id="fqa_coown"></td>
                </tr>
                <tr legacy="1">
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_covered_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Covered is forget it, I am wasting my time here. You probably ar good at covering up things">
                                Covered
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_covered">SGR-covered</td>
                    <td class="text-center fw-bolder" id="pgr_covered"></td>
                    <td class="text-center fw-bolder" id="cgr-a_covered"></td>
                    <td class="text-center fw-bolder" id="cgr-i_covered"></td>
                    <td class="text-center fw-bolder" id="fei_covered"></td>
                    <td class="text-center fw-bolder" id="iqa_covered"></td>
                    <td class="text-center fw-bolder" id="vgr_covered"></td>
                    <td class="text-center fw-bolder" id="fqa_covered"></td>
                </tr>
                <tr legacy="0">
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_characterized_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Characterized : Define the inner character within , so you can face anyone with confidence. Your Character defines you">
                                Characterized
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_characterized">SGR-Characterized</td>
                    <td class="text-center fw-bolder" id="pgr_characterized"></td>
                    <td class="text-center fw-bolder" id="cgr-a_characterized"></td>
                    <td class="text-center fw-bolder" id="cgr-i_characterized"></td>
                    <td class="text-center fw-bolder" id="fei_characterized"></td>
                    <td class="text-center fw-bolder" id="iqa_characterized"></td>
                    <td class="text-center fw-bolder" id="vgr_characterized"></td>
                    <td class="text-center fw-bolder" id="fqa_characterized"></td>
                </tr>
                <tr legacy="0">
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_assigned_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Assigned : It is what will define how much hike you will get. Your assignments defines you">
                                Assigned
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_assigned">SGR-assigned</td>
                    <td class="text-center fw-bolder" id="pgr_assigned"></td>
                    <td class="text-center fw-bolder" id="cgr-a_assigned"></td>
                    <td class="text-center fw-bolder" id="cgr-i_assigned"></td>
                    <td class="text-center fw-bolder" id="fei_assigned"></td>
                    <td class="text-center fw-bolder" id="iqa_assigned"></td>
                    <td class="text-center fw-bolder" id="vgr_assigned"></td>
                    <td class="text-center fw-bolder" id="fqa_assigned"></td>
                </tr>
                <tr legacy="0">
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_analyzed_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Analyzed : Your analysis is only as good as how much thought you put into it. Analysis differentiates the men from the boys">
                                Analyzed
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_analyzed">SGR-analyzed</td>
                    <td class="text-center fw-bolder" id="pgr_analyzed"></td>
                    <td class="text-center fw-bolder" id="cgr-a_analyzed"></td>
                    <td class="text-center fw-bolder" id="cgr-i_analyzed"></td>
                    <td class="text-center fw-bolder" id="fei_analyzed"></td>
                    <td class="text-center fw-bolder" id="iqa_analyzed"></td>
                    <td class="text-center fw-bolder" id="vgr_analyzed"></td>
                    <td class="text-center fw-bolder" id="fqa_analyzed"></td>
                </tr>
                <tr legacy="0">
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_traced_by_implementation_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Traced by Implementation : Are you implementing hat u decided before, or just going through the motions of a project in life.">
                                Traced by Implementation
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_traced_by_impl">SGR-traced_by_impl</td>
                    <td class="text-center fw-bolder" id="pgr_traced_by_impl"></td>
                    <td class="text-center fw-bolder" id="cgr-a_traced_by_impl"></td>
                    <td class="text-center fw-bolder" id="cgr-i_traced_by_impl"></td>
                    <td class="text-center fw-bolder" id="fei_traced_by_impl"></td>
                    <td class="text-center fw-bolder" id="iqa_traced_by_impl"></td>
                    <td class="text-center fw-bolder" id="vgr_traced_by_impl"></td>
                    <td class="text-center fw-bolder" id="fqa_traced_by_impl"></td>
                </tr>
                <tr legacy="0">
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_covered_by_implementation_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Covered by Implementation : This is the time to do all the coverups so that no one will notice, but remember you will get caught one day, by your customer">
                                Covered by Implementation
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_covered_by_impl">SGR-covered_by_impl</td>
                    <td class="text-center fw-bolder" id="pgr_covered_by_impl"></td>
                    <td class="text-center fw-bolder" id="cgr-a_covered_by_impl"></td>
                    <td class="text-center fw-bolder" id="cgr-i_covered_by_impl"></td>
                    <td class="text-center fw-bolder" id="fei_covered_by_impl"></td>
                    <td class="text-center fw-bolder" id="iqa_covered_by_impl"></td>
                    <td class="text-center fw-bolder" id="vgr_covered_by_impl"></td>
                    <td class="text-center fw-bolder" id="fqa_covered_by_impl"></td>
                </tr>
                <tr legacy="0">
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_traced_by_mean_of_proof_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Traced by Mean Of Proof : No one knwos the meaning of this, so do what ever you want here. COnvince by ceating confusion">
                                Traced by Mean Of Proof
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_traced_by_mop">SGR-traced_by_mop</td>
                    <td class="text-center fw-bolder" id="pgr_traced_by_mop"></td>
                    <td class="text-center fw-bolder" id="cgr-a_traced_by_mop"></td>
                    <td class="text-center fw-bolder" id="cgr-i_traced_by_mop"></td>
                    <td class="text-center fw-bolder" id="fei_traced_by_mop"></td>
                    <td class="text-center fw-bolder" id="iqa_traced_by_mop"></td>
                    <td class="text-center fw-bolder" id="vgr_traced_by_mop"></td>
                    <td class="text-center fw-bolder" id="fqa_traced_by_mop"></td>
                </tr>
                <tr legacy="0">
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_covered_by_mean_of_proof_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Covered by Mean Of Proof :Looks likesome Math is going here, anyways we are good in coverofs so it does not matter what this is">
                                Covered by Mean Of Proof
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_covered_by_mop">SGR-covered_by_mop</td>
                    <td class="text-center fw-bolder" id="pgr_covered_by_mop"></td>
                    <td class="text-center fw-bolder" id="cgr-a_covered_by_mop"></td>
                    <td class="text-center fw-bolder" id="cgr-i_covered_by_mop"></td>
                    <td class="text-center fw-bolder" id="fei_covered_by_mop"></td>
                    <td class="text-center fw-bolder" id="iqa_covered_by_mop"></td>
                    <td class="text-center fw-bolder" id="vgr_covered_by_mop"></td>
                    <td class="text-center fw-bolder" id="fqa_covered_by_mop"></td>
                </tr>
                <tr common>
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_obsolete_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Obsolete is, in fact that is what we will become if we do not act fast. Soon evry small start up will start to enter rail market">
                                Obsolete
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_obsolete">SGR-obsolete</td>
                    <td class="text-center fw-bolder" id="pgr_obsolete"></td>
                    <td class="text-center fw-bolder" id="cgr-a_obsolete"></td>
                    <td class="text-center fw-bolder" id="cgr-i_obsolete"></td>
                    <td class="text-center fw-bolder" id="fei_obsolete"></td>
                    <td class="text-center fw-bolder" id="iqa_obsolete"></td>
                    <td class="text-center fw-bolder" id="vgr_obsolete"></td>
                    <td class="text-center fw-bolder" id="fqa_obsolete"></td>
                </tr>
                <tr common>
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_rejected_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Rejected : Learn to say no, else you will be be rejected and lead a dejected life.">
                                Rejected
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_rejected">SGR-rejected</td>
                    <td class="text-center fw-bolder" id="pgr_rejected"></td>
                    <td class="text-center fw-bolder" id="cgr-a_rejected"></td>
                    <td class="text-center fw-bolder" id="cgr-i_rejected"></td>
                    <td class="text-center fw-bolder" id="fei_rejected"></td>
                    <td class="text-center fw-bolder" id="iqa_rejected"></td>
                    <td class="text-center fw-bolder" id="vgr_rejected"></td>
                    <td class="text-center fw-bolder" id="fqa_rejected"></td>
                </tr>
                <tr common>
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_empty_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Empty, huh u should never have this, but ok, we use this field for requirements that are not even assigned">
                                Empty
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_empty">SGR-Empty</td>
                    <td class="text-center fw-bolder" id="pgr_empty"></td>
                    <td class="text-center fw-bolder" id="cgr-a_empty"></td>
                    <td class="text-center fw-bolder" id="cgr-i_empty"></td>
                    <td class="text-center fw-bolder" id="fei_empty"></td>
                    <td class="text-center fw-bolder" id="iqa_empty"></td>
                    <td class="text-center fw-bolder" id="vgr_empty"></td>
                    <td class="text-center fw-bolder" id="fqa_empty"></td>
                </tr>
                <tr common>
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_demonstrated_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Demonstrated is a stage we do all kinds of dram to show something woking, when actually it is not working. Learn this craft soon in life">
                                Demonstrated
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_demonstrated">SGR-demonstrated</td>
                    <td class="text-center fw-bolder" id="pgr_demonstrated"></td>
                    <td class="text-center fw-bolder" id="cgr-a_demonstrated"></td>
                    <td class="text-center fw-bolder" id="cgr-i_demonstrated"></td>
                    <td class="text-center fw-bolder" id="fei_demonstrated"></td>
                    <td class="text-center fw-bolder" id="iqa_demonstrated"></td>
                    <td class="text-center fw-bolder" id="vgr_demonstrated"></td>
                    <td class="text-center fw-bolder" id="fqa_demonstrated"></td>
                </tr>
                <tr common>
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_dfq_date_pop_over" style="cursor:pointer; outline:none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="DFQ Date : When did your dfq happen, need I be more clear ?.">
                                DFQ Date
                            </a>
                        </span>
                    </td>
                    <td class="text-primary text-center fw-bolder" id="sgr_dfq_date">DFQ Date</td>
                    <td class="text-primary text-center fw-bolder" id="pgr_dfq_date"></td>
                    <td class="text-primary text-center fw-bolder" id="cgr-a_dfq_date"></td>
                    <td class="text-primary text-center fw-bolder" id="cgr-i_dfq_date"></td>
                    <td class="text-primary text-center fw-bolder" id="fei_dfq_date"></td>
                    <td class="text-primary text-center fw-bolder" id="iqa_dfq_date"></td>
                    <td class="text-primary text-center fw-bolder" id="vgr_dfq_date"></td>
                    <td class="text-primary text-center fw-bolder" id="fqa_dfq_date"></td>
                </tr>
                <!--<tr common>
                    <td class="bg-dark text-light fs-norm">
                        <span class="float-end">
                            <a tabindex="0" id="td_time_of_movement_pop_over" style="cursor: pointer; outline: none"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus" data-bs-title="<img src='~/Content/Images/rs.png' class='img-small' /> What does it mean"
                               data-bs-content="Time Of Movement is that point of time when your moved your data to a gate, u did not get it, leave it, it is to keep track of your movements.">
                                Time Of Movement
                            </a>
                        </span>
                    </td>
                    <td class="text-center fw-bolder" id="sgr_insert_update_time">You Got to move it move you</td>
                    <td class="text-center fw-bolder" id="pgr_insert_update_time"></td>
                    <td class="text-center fw-bolder" id="cgr-a_insert_update_time"></td>
                    <td class="text-center fw-bolder" id="cgr-i_insert_update_time"></td>
                    <td class="text-center fw-bolder" id="fei_insert_update_time"></td>
                    <td class="text-center fw-bolder" id="iqa_insert_update_time"></td>
                    <td class="text-center fw-bolder" id="vgr_insert_update_time"></td>
                    <td class="text-center fw-bolder" id="fqa_insert_update_time"></td>
                </tr>-->
            </table>
            <label style="letter-spacing:4px;" class="fw-bold float-end m-2">Know your DFQ status</label>
        </div>
    </div>
</div>
<div class="modal fade modal-xl" id="dfq_data" tabindex="-1" aria-labelledby="dfq_data_Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <img src="~/Content/Images/rs.png" style="height:30px;" class="me-3" />
                <h1 class="modal-title fs-5" id="dfq_data_Label">Current DFQ Data</h1>
                <button type="button" class="btn-close bg-warning"  data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="login_body" class="modal-body fs-small">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text fs-very-small">Current Gate</span>
                                    <div class="form-control">
                                        <select class="form-control fs-very-small" id="gates" onchange="dfq.SelectGate(event)">
                                            <option value="-1">Choose</option>
                                        </select>
                                        <h5 id='fixed_gate'></h5>
                                    </div>
                                    <span class="input-group-text text-info fs-very-small"><i class="bi bi-pen"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group" m-body>
                            <h6>Below is your last entry for this gate</h6>
                        </div>
                        <div class="row" m-body>
                            <div class="col">
                                <div class="input-group mb-1" common>
                                    <span id="span_identified" class="input-group-text fs-very-small">Identified</span>
                                    <input moda value="1" type="number" legacy="1" id="identified" class="form-control ph-small fs-very-small" name="identified" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" legacy="1">
                                    <span class="input-group-text fs-very-small">Defined</span>
                                    <input moda value="1" type="number" legacy="1" id="defined" class="form-control ph-small fs-very-small" name="defined" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" common>
                                    <span id="span_coown" class="input-group-text fs-very-small">Committed/owned</span>
                                    <input moda value="1" type="number" legacy="1" id="coown" class="form-control ph-small fs-very-small" name="coown" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" common>
                                    <span class="input-group-text fs-very-small">Demonstrated</span>
                                    <input moda value="1" type="number" legacy="1" id="demonstrated" class="form-control ph-small fs-very-small" name="demonstrated" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mb-1" legacy="1">
                                    <span class="input-group-text fs-very-small">Covered</span>
                                    <input moda value="1" type="number" legacy="1" id="covered" class="form-control ph-small fs-very-small" name="covered" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" common>
                                    <span class="input-group-text fs-very-small">Obsolete</span>
                                    <input moda value="1" type="number" legacy="1" id="obsolete" class="form-control ph-small fs-very-small" name="obsolete" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" common>
                                    <span class="input-group-text fs-very-small">Rejected</span>
                                    <input moda value="1" type="number" legacy="1" id="rejected" class="form-control ph-small fs-very-small" name="covered" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" common>
                                    <span class="input-group-text fs-very-small">Empty</span>
                                    <input moda value="1" type="number" legacy="1" id="empty" class="form-control ph-small fs-very-small" name="empty" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                            </div>
                            <div class="col" hide_when_legacy>
                                <div class="input-group mb-1" legacy="0">
                                    <span class="input-group-text fs-very-small">Assigned</span>
                                    <input moda value="1" type="number" legacy="0" id="assigned" class="form-control ph-small fs-very-small" name="assigned" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" legacy="0">
                                    <span class="input-group-text fs-very-small">Analyzed</span>
                                    <input moda value="1" type="number" legacy="0" id="analyzed" class="form-control ph-small fs-very-small" name="analyzed" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" legacy="0">
                                    <span class="input-group-text fs-very-small">Traced By Impl</span>
                                    <input moda value="1" type="number" legacy="0" id="traced_by_impl" class="form-control ph-small fs-very-small" name="traced_by_impl" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                            </div>
                            <div class="col" hide_when_legacy>
                                <div class="input-group mb-1" legacy="0">
                                    <span class="input-group-text fs-very-small">Covered By Impl</span>
                                    <input moda value="1" type="number" legacy="0" id="covered_by_impl" class="form-control ph-small fs-very-small" name="covered_by_impl" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" legacy="0">
                                    <span class="input-group-text fs-very-small">Traced By MoP</span>
                                    <input moda value="1" type="number" legacy="0" id="traced_by_mop" class="form-control ph-small fs-very-small" name="traced_by_mop" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                                <div class="input-group mb-1" legacy="0">
                                    <span class="input-group-text fs-very-small">Covered By Mop</span>
                                    <input moda value="1" type="number" legacy="0" id="covered_by_mop" class="form-control ph-small fs-very-small" name="covered_by_mop" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row" m-body>
                            <div class="col">
                                <div class="input-group mb-1" legacy="0">
                                    <span class="input-group-text fs-very-small">Characterized</span>
                                    <input moda value="1" type="number" legacy="0" id="characterized" class="form-control ph-small fs-very-small" name="obsolete" placeholder="Enter a number">
                                    <span class="input-group-text text-info"><i class="bi bi-pen"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" m-body>
                    <div class="col">
                        <div class="fs-small mt-2" style="letter-spacing:2px;">
                            Please do not leave any empty fields, 
                            <ul>
                                <li>if you do not enter any data for a particular field, we will consider it as 0/Zero.</li>
                                <li>All decimal values will be rounded off to the largest integer less than the decimal value, i.e x.1 & x.9 will be rounded off to <b>X</b> </li>
                                <li>Date field/s if left empty will be defaulted to today's date</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="input-group" m-body>
                    <button class="btn btn-primary" data-bs-dismiss="modal" onclick="dfq.SaveOrMove(event, 'save', $('#defined').val(),$('#identified').val(),$('#coown').val())">Save if <b>Current Gate</b></button>
                    <span class="input-group-text fs-6">DFQ Date</span>
                    <input type="date" id="dfq_date" class="fs-6">
                    <span class="input-group-text text-info fs-4"><i class="bi bi-clock"></i></span>
                    <button id="move" class="btn btn-primary" onclick="dfq.SaveOrMove(event, 'move', $('#defined').val(),$('#identified').val(),$('#coown').val())">Move if Gate Review is <b>'GO'</b></button>
                </div>
            </div>
        </div>
    </div>
</div>
