<div style="margin-bottom:100px;" class="pb-4 bg-white">
    <div id="{{id}}" class="container">
        <div class="row mb-3 mt-6" data-aos="zoom-in" data-aos-duration="2000">
            <div class="col text-center">
                <span class="bg-primary text-white p-2  rounded">{{sub_title}}</span>
                <div>
                    <h1 class="text-blazing mt-3 mb-3">{{title}}</h1>
                    <hr class="shrd" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col position-relative" data-aos="flip-left">
                <div class="img-cap" >
                    <img class="img-fluid team" src="{{mate_1_src}}" alt="">
                    <span>{{{about_mate_1}}}</span>
                </div>
                <div class="text-center p-4 litbr" >
                    <h5 class="text-uppercase text-blazing">{{mate_1_name}}</h5>
                    <span class="text-blazing">{{mate_1_role}}</span>
                </div>
            </div>
            <div class="col position-relative" data-aos="flip-right">
                <div class="img-cap">
                    <img class="img-fluid team" src="{{mate_2_src}}" alt="">
                    <span>{{{about_mate_2}}}</span>
                </div>
                <div class="text-center p-4 litbr" >
                    <h5 class="text-uppercase text-blazing">{{mate_2_name}}</h5>
                    <span class="text-blazing">{{mate_2_role}}</span>
                </div>
            </div>
            <div class="col position-relative" data-aos="flip-right">
                <div class="img-cap">
                    <img class="img-fluid team" src="{{mate_3_src}}" alt="">
                    <span>{{{about_mate_3}}}</span>
                </div>
                <div class="text-center p-4 litbr">
                    <h5 class="text-uppercase text-blazing">{{mate_3_name}}</h5>
                    <span class="text-blazing">{{mate_3_role}}</span>
                </div>
            </div>
            <div class="col position-relative" data-aos="flip-right">
                <div class="img-cap">
                    <img class="img-fluid team" src="{{mate_4_src}}" alt="">
                    <span>{{{about_mate_4}}}</span>
                </div>
                <div class="text-center p-4 litbr">
                    <h5 class="text-uppercase text-blazing">{{mate_4_name}}</h5>
                    <span class="text-blazing">{{mate_4_role}}</span>
                </div>
            </div>
        </div>
    </div>
</div>