<div id="page_footer" class="border-top border-bottom mb-4" data-aos="zoom-in" data-aos-duration="3000">
    <div class="container text-black-50">
        <div class="container">
            <div class="row p-5">
                <div class="col-4">
                    <h5 class="text-uppercase mb-4" style="letter-spacing:4px;">The Place</h5>
                    <hr class="w-50" />
                    <div class="d-flex align-items-center mb-2">
                        <div class="btn-square me-3">
                            <span class="bi bi-award-fill text-black-50"></span>
                        </div>
                        <span>
                            18&nbsp;&nbsp;ITC Greens, Bengaluru, <b>
                                <a zora class="text-secondary fw-light" href="~/Home/Contact">INDIA</a>
                            </b>
                        </span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <!--<div class="btn-square me-3">
                            <span class="bi bi-phone text-black-50"></span>
                        </div>
                        <span>+91 98 441 618 62</span>-->
                    </div>
                </div>
                <!--<div class="col-4">
                    <h5 class="text-uppercase mb-4" style="letter-spacing:4px;">The Men</h5>
                    <hr class="w-50" />
                    <div class="row">
                        <div class="col">
                            <div>
                                <i class="bi bi-envelope"></i> : <a target="_blank" class="text-black-50"
                                                                    href="mailto:sesha.sai@alstomgroup.com?subject=DFQ&cc=srivatchan.vs@alstomgroup.com@alstomgroup.com&body=Hi Dr.Sesha,%0AI am deeply interested in know about technologies used in this portal.Can you enlighten me%0A%0A...YOUR COMMENTS ...%0A%0AThanks and Regards">Dr.Sesha</a>
                            </div>
                            <div>
                                <i class="bi bi-envelope"></i> : <a target="_blank" class="text-black-50"
                                                                    href="mailto:srivatchan.vs@alstomgroup.com?subject=DFQ&cc=sesha.sai@alstomgroup.com@alstomgroup.com&body=Hi Sri,%0AI am deeply interested in know about DFQ.Can you take a session%0A%0A...YOUR COMMENTS ...%0A%0AThanks and Regards">Sri</a>
                            </div>
                            <div>
                                <i class="bi bi-envelope"></i> : <a target="_blank" class="text-black-50"
                                                                    href="mailto:gilles.bonderf@alstomgroup.com?subject=DFQ&cc=sesha.sai@alstomgroup.com@alstomgroup.com&body=Hi Gilles ,%0AI am deeply interested in know about DFQ.Can you take a session%0A%0A...YOUR COMMENTS ...%0A%0AThanks and Regards">Gilles</a>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <i class="bi bi-envelope"></i> : <a target="_blank" class="text-black-50"
                                                                    href="mailto:bappa.sarkar-1@alstomgroup.com?subject=DFQ&cc=sesha.sai@alstomgroup.com@alstomgroup.com&body=Hi Sarkar ,%0AI am deeply interested in know about DFQ.Can you take a session%0A%0A...YOUR COMMENTS ...%0A%0AThanks and Regards">Bappa</a>
                            </div>
                            <div>
                                <i class="bi bi-envelope"></i> : <a target="_blank" class="text-black-50"
                                                                    href="mailto:keshari.kishore-ext@alstomgroup.com?subject=DFQ&cc=sesha.sai@alstomgroup.com@alstomgroup.com&body=Hi Kishore ,%0AHeard about your amazing skiils in Power BI.Can you take a session%0A%0A...YOUR COMMENTS ...%0A%0AThanks and Regards">Kishore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h5 class="d-inline text-uppercase mb-4" style="letter-spacing:4px;">The </h5>
                    <img style="height:25px;margin-top:-12px;" src="~/Content/images/Star.png" />
                    <img style="height:25px;margin-top:-12px;" src="~/Content/images/Star.png" />
                    <hr class="w-50" />
                    <div>
                        <a class="btn  btn-dark text-white m-1" target="_blank" href="https://adm-constellation-map.alstom.hub/Galaxy">
                            Galaxy &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<font class="alstom-social">&#9734;</font>
                        </a>
                        <a class="btn  btn-dark text-white m-1" target="_blank" href="https://adm-constellation-map.alstom.hub/RollingStock">
                            Rolling Stock <i class="bi bi-train-freight-front"></i>
                        </a>
                    </div>
                    <div>
                        <a class="btn  btn-dark text-white m-1" target="_blank" href="https://adm-constellation-map.alstom.hub/Signalling">
                            Signalling <font class="alstom-social"><i class="bi bi-signpost"></i></font>
                        </a>
                        <a class="btn  btn-dark text-white m-1" target="_blank" href="https://adm-constellation-map.alstom.hub/HR">
                            Hanuman &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="bi bi-cookie"></i>
                        </a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
